@import url("./colors.css");
@import url("./font.css");
@import url("../pc/styles.css");
.weer-charts-grid {
    grid-template-columns: 1fr;
}



.quantity{
    width: 70%;
}

#site_id{
    width: 90%;
}

.checkbox-materials{
    scale: 1.50;
}

@media screen and (max-width: 692px){
    .manager-table th,
    .manager-table td,
    table th,
    table td{
        padding: 5px;
    }
}

@media screen and (max-width: 562px){
    .extra-information{
        display: none;
    }
}

@media screen and (max-width: 408px) {
    .manager-page {
        min-height: 70vh;
        padding: 20px;
    }
}

@media screen and (max-width: 454px) {
    #accounts-table {
        td {
            width: fit-content;
            padding: 2px;
        }
    }

    .id-account {
        display: none;
    }
}

@media screen and (max-width: 650px){
    #main-nav-bar{
        display: none;
    }

    #mobile-nav-bar{
        display: block;
    }
}

@media screen and (min-width: 650px){
    #main-nav-bar{
        display: block;
    }

    #mobile-nav-bar{
        display: none;
    }
}

@media screen and (min-width: 650px) {
    .actie{
        display: none;
    }
}

@media screen and (max-width: 624px ){
    .extra-information-order{
        display: none;
    }
}
@media screen and (max-width: 640px){
    .leverdatum{
        display: none;
    }
}

